:host{
    display:flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 250px;
}
mat-drawer-container{
    height: 100%;
}
mat-drawer-content{
    padding: 20px; 
    margin-left: 50px;
}
@media only screen and (max-width: 600px) {
    mat-drawer-content{
        padding: 20px; 
        margin-left: 0px;
    }
}