<!-- <div class="p-5">
    <h2 class="mb-4">Full Calendar</h2>
    <div class="card">
      <div class="card-body p-0">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  
 
  <div id="modal-view-event" class="modal modal-top fade calendar-modal">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-body">
                      <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                      <div class="event-body"></div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
  
  <div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="add-event">
          <div class="modal-body">
          <h4>Add Event Detail</h4>        
            <div class="form-group">
              <label>Event name</label>
              <input type="text" class="form-control" name="ename">
            </div>
            <div class="form-group">
              <label>Event Date</label>
              <input type='text' class="datetimepicker form-control" name="edate">
            </div>        
            <div class="form-group">
              <label>Event Description</label>
              <textarea class="form-control" name="edesc"></textarea>
            </div>
            <div class="form-group">
              <label>Event Color</label>
              <select class="form-control" name="ecolor">
                <option value="fc-bg-default">fc-bg-default</option>
                <option value="fc-bg-blue">fc-bg-blue</option>
                <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
                <option value="fc-bg-pinkred">fc-bg-pinkred</option>
                <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
              </select>
            </div>
            <div class="form-group">
              <label>Event Icon</label>
              <select class="form-control" name="eicon">
                <option value="circle">circle</option>
                <option value="cog">cog</option>
                <option value="group">group</option>
                <option value="suitcase">suitcase</option>
                <option value="calendar">calendar</option>
              </select>
            </div>        
        </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Save</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>        
        </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <div class="related-product">
              <div class="container">
          <h1 class="text-center mb-5">Bootstrap 4 Admin Panel</h1>
                  <ul class="row justify-content-center">
                      <li class="col-md-6 col-sm-12">
                          <a href="https://github.com/dropways/deskapp">
                              <div class="related-box">
                                  <img src="https://dropways.github.io/feathericons/assets/themes/twitter/images/deskapp.png" alt="deskapp">
                              </div>
                              <h3>DeskApp Bootstrap 4 admin template</h3>
                              <p>DeskApp Admin is a free to use Bootstrap 4 admin template. This template uses the default Bootstrap 4 styles along with a variety of powerful jQuery plugins and tools to create a powerful framework for creating admin panels or back-end dashboards.</p>
                          </a>
              <div class="text-center">
                <a href="https://github.com/dropways/deskapp" target="_blank" class="btn btn-primary btn-lg download-btn"><i class="fa fa-github"></i> Download Now</a>
              </div>
                      </li>
                  </ul>
              </div>
          </div> -->
<!-- <div>
    <app-widget-area></app-widget-area>
</div>

<mat-divider></mat-divider>

<div>
    <div>Line Chart</div>
    <div>Line Chart</div>
    <div>Line Chart</div>
    <div>Line Chart</div> 

</div>

<mat-divider></mat-divider>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div> -->
<div class="container-fluid">
    <header>
        <h4 class="display-4 mb-4 text-center">{{date |date}}</h4>
        <div class="row d-none d-sm-flex p-1 bg-dark text-white">
            <h5 class="col-sm p-1 text-center">Sunday</h5>
            <h5 class="col-sm p-1 text-center">Monday</h5>
            <h5 class="col-sm p-1 text-center">Tuesday</h5>
            <h5 class="col-sm p-1 text-center">Wednesday</h5>
            <h5 class="col-sm p-1 text-center">Thursday</h5>
            <h5 class="col-sm p-1 text-center">Friday</h5>
            <h5 class="col-sm p-1 text-center">Saturday</h5>
        </div>
    </header>
    <div class="row border border-right-0 border-bottom-0">
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">29</span>
                <small class="col d-sm-none text-center text-muted">Sunday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">30</span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">31</span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">1</span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">2</span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">3</span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white"
                title="Test Event 1">Half Day</a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">4</span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">5</span>
                <small class="col d-sm-none text-center text-muted">Sunday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">6</span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">7</span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">8</span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-success text-white"
                title="Test Event 2">Present</a>
        
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">9</span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">10</span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">11</span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">12</span>
                <small class="col d-sm-none text-center text-muted">Sunday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">13</span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">14</span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">15</span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">16</span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">17</span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">18</span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">19</span>
                <small class="col d-sm-none text-center text-muted">Sunday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">20</span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white"
                title="Test Event with Super Duper Really Long Title">Apsent</a>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">21</span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">22</span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">23</span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">24</span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">25</span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">26</span>
                <small class="col d-sm-none text-center text-muted">Sunday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">27</span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">28</span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">29</span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1">30</span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">1</span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">2</span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div class="w-100"></div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">3</span>
                <small class="col d-sm-none text-center text-muted">Sunday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">4</span>
                <small class="col d-sm-none text-center text-muted">Monday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">5</span>
                <small class="col d-sm-none text-center text-muted">Tuesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">6</span>
                <small class="col d-sm-none text-center text-muted">Wednesday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">7</span>
                <small class="col d-sm-none text-center text-muted">Thursday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">8</span>
                <small class="col d-sm-none text-center text-muted">Friday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
        <div
            class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
            <h5 class="row align-items-center">
                <span class="date col-1">9</span>
                <small class="col d-sm-none text-center text-muted">Saturday</small>
                <span class="col-1"></span>
            </h5>
            <p class="d-sm-none">No events</p>
        </div>
    </div>
</div>