<div class="container">
    <form>
        <h1 class="text-center">Apply Leave Here</h1>
    <div class="row jumbotron">
        <div class="col-sm-6 form-group">
            <label for="name-f">Employee Id</label>
            <input type="text" class="form-control" name="fname" id="name-f" placeholder="Employee Id" required>
        </div>
        <div class="col-sm-6 form-group">
            <label for="name-l">Employee Name</label>
            <input type="text" class="form-control" name="lname" id="name-l" placeholder="Employee Name" required>
        </div>
        <div class="col-sm-6 form-group">
            <label for="email">From</label>
            <input type="Date" name="dob" class="form-control" id="Date" placeholder="" required>
        </div>
        <div class="col-sm-6 form-group">
            <label for="address-1">To</label>
            <input type="Date" name="dob" class="form-control" id="Date" placeholder="" required>
        </div>
        <div class="col-sm-6 form-group">
            <label for="address-2">Days</label>
            <input type="address" class="form-control" name="address" id="address-2" placeholder="Days" required>
        </div>       
        <div class="col-sm-6 form-group">
            <label for="Date">Date</label>
            <input type="Date" name="dob" class="form-control" id="Date" placeholder="" required>
        </div>       

        <div class="col-sm-12 form-group mb-0">
           <button class="btn btn-primary float-right">Submit</button>
        </div>
        
    </div>
    </form>
</div>
