<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="text-center">Apply Leave Here</h1>
        <div class="row jumbotron">
            <div class="col-sm-6 form-group">
                <label for="name-f">Employee Id</label>
                <input type="text" class="form-control" name="fname" id="name-f" placeholder="Employee Id" required
                    formControlName="id">
                <small
                    *ngIf="form.controls['id'].hasError('required') && (form.controls['id'].dirty || form.controls['id'].touched)"
                    class="text-danger" translate>
                    Id is required!
                </small>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Type</label><br>
                    <p-dropdown [options]="type" filter="true" [autoDisplayFirst]="false" placeholder="Select Type"
                        formControlName="type">
                    </p-dropdown>
                    <small
                        *ngIf="form.controls['type'].hasError('required') && (form.controls['type'].dirty || form.controls['type'].touched)"
                        class="text-danger" translate>
                        Type is required!
                    </small>
                </div>
            </div>          
          
            <div class="col-sm-6 form-group">
                <label for="email">From</label>
                <input type="date" name="date" class="form-control" placeholder="" required formControlName="from_date">
                <small
                    *ngIf="form.controls['from_date'].hasError('required') && (form.controls['from_date'].dirty || form.controls['from_date'].touched)"
                    class="text-danger" translate>
                    From date is required!
                </small>
            </div>
            <div class="col-sm-6 form-group">
                <label for="address-1">To</label>
                <input type="date" name="date" class="form-control" placeholder="" required formControlName="to_date">
                <small
                    *ngIf="form.controls['to_date'].hasError('required') && (form.controls['to_date'].dirty || form.controls['to_date'].touched)"
                    class="text-danger" translate>
                    To date is required!
                </small>
            </div>
            <!-- <div class="col-sm-6 form-group">
                <label for="name-f">Comments</label>
                <textarea class="form-control"  placeholder="Comments"></textarea>
                <small
                    *ngIf="form.controls['comments'].hasError('required') && (form.controls['comments'].dirty || form.controls['comments'].touched)"
                    class="text-danger" translate>
                    Id is required!
                </small>
            </div> -->
                     
            <div class="col-sm-12 form-group mb-0">
                <button class="btn btn-primary float-right" [disabled]="form.invalid">Submit</button>
            </div>

        </div>
    </form>
</div>