<div id="main" class="mb-2 mt-5">
    <section id="advanced">
        <div class="row text-left" matchHeight="card">
            <div class="col-sm-12">
                <div class="card shadow maincardtopmargin">
                    <div class="card-header no-padding-bottom">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title">Approved List</h4>
                            </div>                            
                        </div>
                    </div>
                    <div class="card-body">                       
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Employee Id</th>
                                        <th>Upcoming Leaves</th>                                        
                                    </tr>
                                </thead>
                                <tbody>                                 
                                    <tr *ngFor="let item of allleavesdata; let i = index">
                                        <th scope="row">{{ i + offset + 1 }}</th>
                                        <td>{{item.id}}</td>
                                        <ng-container>
                                            <tr>
                                                <th>Date</th>
                                                <th>Type</th>
                                                <th>Actions</th>
                                            </tr>
                                            <tr *ngFor="let key of upcommingleavesallfinal">
                                                <td>{{key.date}}</td>  
                                                <td *ngIf="key.value=='1'"><span style="color:green">Full Day</span></td>
                                                <td *ngIf="key.value=='0.5'"><span style="color:red">Half Day</span></td>
                                                <td>
                                                    <button class="btn btn-raised btn-primary mr-1"
                                                    [routerLink]="['../approve-edit',item.id,key.date,key.value]">
                                                      Action
                                                    </button>                                         
                                                </td>
                                            </tr>                                                                               
                                        
                                        </ng-container>
                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
