<mat-toolbar>
  <mat-toolbar-row>
    <div class="row">
      <div class="col">
        <span>Logout</span>
      </div>
      <div class="col text-right">
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list style="margin-top: 20px">
  <div class="profile-card">
    <div class="header">
      <img src="assets/user.png" />
      <h2>Anna Morrison</h2>
      <h4>Student</h4>
    </div>
  </div>
</mat-nav-list>

<div class="row m-1 mt-3">
  <div class="col-3">
    <div class="box1">
      <h4>B2</h4>
    </div>
  </div>
  <div class="col-4">
    <span class="mute" style="font-size: 12px; display: block">English</span>
    <span style="font-size: 14px; font-weight: 600px">Grammer</span>
  </div>
  <div class="col-5">
    <div class="progress mt-1 text-right">
      <div
        class="progress-bar bg1"
        role="progressbar"
        style="width: 60%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>
<div class="row m-1 mt-2">
  <div class="col-3">
    <div class="box1">
      <h4>B2</h4>
    </div>
  </div>
  <div class="col-4">
    <span class="mute" style="font-size: 12px; display: block">English</span>
    <span style="font-size: 14px; font-weight: 600px">Grammer</span>
  </div>
  <div class="col-5">
    <div class="progress mt-1 text-right">
      <div
        class="progress-bar bg1"
        role="progressbar"
        style="width: 80%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>

<div class="row m-2 mt-3">
  <div class="col">
    <h2>Reminders</h2>
  </div>
  <div class="col text-right mt-1">
    <mat-icon>message</mat-icon>
  </div>
</div>
<div class="row m-1 mt-2">
  <div class="col-3">
    <div class="boxred">
      <mat-icon style="font-size: 20px; color: red">error</mat-icon>
    </div>
  </div>
  <div class="col">
    <span class="mute" style="font-size: 12px; display: block"
      >English Vocabulary test</span
    >
    <span style="font-size: 14px; font-weight: 600px">24 aug 2019 Friday</span>
  </div>
</div>
<div class="row m-1 mt-2">
  <div class="col-3">
    <div class="boxblue">
      <mat-icon style="font-size: 20px; color: blue">message</mat-icon>
    </div>
  </div>
  <div class="col">
    <span class="mute" style="font-size: 12px; display: block"
      >English Vocabulary test</span
    >
    <span style="font-size: 14px; font-weight: 600px">24 aug 2019 Friday</span>
  </div>
</div>
<div class="row m-1 mt-2">
  <div class="col-3">
    <div class="boxblue">
      <mat-icon style="font-size: 20px; color: blue">message</mat-icon>
    </div>
  </div>
  <div class="col">
    <span class="mute" style="font-size: 12px; display: block"
      >English Vocabulary test</span
    >
    <span style="font-size: 14px; font-weight: 600px">24 aug 2019 Friday</span>
  </div>
</div>
